<ion-content class="content">


  <form [formGroup]="signUpForm" (ngSubmit)="signUp()">

    <!-- Usuario -->
    <ion-row style="padding-top: 9rem;">
        <ion-col>
          <ion-item>
            <ion-input maxlength="15" placeholder="Informe seu Nome" type="text" class="input-auth"
              formControlName="user"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>


    <!-- Celular -->
    <ion-row style="padding-top: .5rem;">
      <ion-col>
        <ion-item>
          <ion-input maxlength="15" placeholder="Informe seu celular" type="tel" class="input-auth"
            formControlName="cel" [brmasker]="{
                    mask: '(00) 00000-0000',
                    len: 15,
                    person: false
                  }"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- senha -->
    <ion-row style="padding-top: .5rem;">
      <ion-col col-12>
        <ion-item>
          <ion-input class="input-auth" type="password" placeholder="Informe a sua senha" formControlName="senha">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row style="padding-top: .5rem;">
      <ion-col col-12 text-center>

        <ion-button color="light" size="small" fill="clear" type="submit" [disabled]="!signUpForm.valid"
          style="font-size: 1.2rem; border: 1px solid white;">
          Cadastrar
        </ion-button>

      </ion-col>
    </ion-row>
  </form>

</ion-content>