<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Divide a Conta
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-card class="welcome-card">
  </ion-card>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Eventos:</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let event of (userEvents | async)" [routerLink]="['event/',event.id]">
      <ion-label>evento:</ion-label>
      <ion-label>{{event.eventName}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" routerLink="/home/create" routerDirection="forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>