<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Eventos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Eventos:</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let event of (events | async)">
        <ion-label>{{event.data}}</ion-label>
      </ion-item>
    </ion-list>

    <ion-button positive (click)="addNewEvent()">adicionar</ion-button>
</ion-content>
